<a href="https://colab.research.google.com/github/Alberto3125/CompyProg2022/blob/main/fundamentos_CyP1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys 
nombre= 'pablo' #Tipo de dato String  (cadena de caracteres)

print (nombre)

pablo

12/10/2021

# Tipo de dato en Phyton 
### Ripos simples
-str---> String cadena de caracteres 
- Int --->  numeros enteros 
- float -->  Numero con notacion de punto flotante 
-Complex--> Numeros complejos 
-bool--> boleano(True o False)
-byte--> 8 bits

### tipos de datos estructurados (compuestos)

-list--> Listas (arreglos en otros lenguajes)
-dict--> Diccionarios 
- set y frezenset--> Conjuntos 
-tuple--> Listas no mutables

In [ ]:
import sys
edad = 19
print ("Tu edad es:", edad) # al final de una linea de codigo
#Este es un comentario de liena simple

"""
Comentario de multiple linea 
En leguaje C, C++ y Java el comentario de multiple lunes es con /* ..... */ 

En lenguaje C, C++ y Java el comentario de una sola linea es con:

//

Aqui puedes explicar en prosa el segmento de una codigo para futura 
"""

#Tipos de dato numerico int y float
# El tipo de dato INT utiliza diferente cantidad de bits segun el
# lenguaje de programacion por ejemplo en C se utiliza  16 bits.
print (sys.getsizeof(edad))

edad = edad + 1 
print (edad)

estatura = 1.56 
print (sys.getsizeof(estatura))
estatura = estatura + .1 
print (estatura)
print ( round(estatura,2))

edad += 1 #edad = edad + 1
print ("Tu edad es:", edad)

edad -= 1 #edad = edad + 1
print ("Tu edad es:", edad)

edad += 1
edad /= 2 #edad = edad / 2
print ("La mitad de tu edad es:", edad)

edad  = 21
#volver a calcular la mitad de la edad pero solo dejar
#parte  entera 
edad = edad//2 
print ("La mitad de tu edad es:", edad) 

#La mayoria de los lenguajes de programacion no permite operaciones entre 
#diferentes tipos de datos, en phyton no es el caso 

numero = edad / 2.0
print(numero)

numero = numero *3
print(numero)

numero = 5.0
numero = numero **2
print (numero)

Tu edad es: 19
28
20
24
1.6600000000000001
1.66
Tu edad es: 21
Tu edad es: 20
La mitad de tu edad es: 10.5
La mitad de tu edad es: 10
5.0
15.0
25.0

In [ ]:
#operador modulo 
numero = 21
print (numero/2)
print(numero//2)

#El operador modulo da como resultado el residuo de una divison entera
print(numero%2)

numero = 24 
print ("Residuo de 24 / 5: ", numero % 5 )

print ("24 es par? = ", numero% 2 == 0)

#diferencia
print ( "24 es diferente de 23 = ", numero !=23)
print ("24 es mayor que 23", numero>23)
print ("24 es menor que 23", numero<23)

print ("24 es menor o igual que 24", numero>=24)
print ("24 es menor o igual que 23", numero<23)

print("El tipo de dato de la var numero es:", type(numero))
print("El tipo de dato de la var numero es:", type(numero/2.0))

10.5
10
1
Residuo de 24 / 5:  4
24 es par? =  True
24 es diferente de 23 =  True
24 es mayor que 23 True
24 es menor que 23 False
24 es menor o igual que 24 True
24 es menor o igual que 23 False
El tipo de dato de la var numero es: <class 'int'>
El tipo de dato de la var numero es: <class 'float'>

In [ ]:

nombre = "pablo"
carrera = "ingenieria en computacion "
frase = """El conocimiento me persigue,...
pero
yo soy mas rapido 
"""
print (nombre)
print(carrera)
print(frase)

#La funcion type de Phyton  te devuelve el tipo de dato de una variable (o e)
print (type(nombre))

paterno = str ("macedo")
print (paterno)

pablo
ingenieria en computacion
El conocimiento me persigue,...
pero
yo soy mas rapido

<class 'str'>
macedo

# 14/10/2021
#Tipo de dato strin (str) en Phyton 
-Se maneja como un arreglo  (tipo de dato compuesto)
- Se puede acceder a los elemtos de el string por medio del indice del caracter.
-Mutable
-Tiene metodos utiles (potentes)
-Slicing

In [ ]:
carrera = "Ingenieria en computacion "
print ( carrera )
print ( carrera [2])

Ingenieria en computacion
g

#A la sintaxi s escrita para elegir un elemento de un grupo de datos se le llama selector. 

El el strings y listas (lst) 
se usasn los caracteres '['y']'
 1. En todos los lenguajes los arreglos inician en 0 
 2. En phytonno existe como tal el tipo de datos arreglo, el concepto es listas 
 3. Los strins se comportan como un arreglo en la mayoria de los lenguajes 
 4. En phyton se aceptan en indexado negativo, en otros lenguajes NO.

In [ ]:
carrera = "Ingenieria en computacion "
print ( carrera )
print ( carrera [8])
print ( carrera [24])
print ( carrera [-1])
print ( carrera [-25])


#Adelantando el tema del ciclo FOR

for  letra in carrera: 
  print ("-->", letra, "<--")

Ingenieria en computacion
i
n

n
--> I <--
--> n <--
--> g <--
--> e <--
--> n <--
--> i <--
--> e <--
--> r <--
--> i <--
--> a <--
-->   <--
--> e <--
--> n <--
-->   <--
--> c <--
--> o <--
--> m <--
--> p <--
--> u <--
--> t <--
--> a <--
--> c <--
--> i <--
--> o <--
--> n <--
-->   <--

#Slicing (rebanado) de cadenas 
Permite seleccionar subcadenas con el operador 
[inicio: stop: incremento]



### Slicing y valores por defecto
inicio por defecto siemprr sera cero
stop: tamaño del arreglo (indexado positivo)
0 en (indexado negativo)

incremento: es 1 (indexado positivo)

In [ ]:
carrera = "Ingenieria en computacion"
print ( carrera[0:10:1])
print ( carrera[14:25:1])
#Lo mismo pero con indexado negativo 
print ( carrera[-11:-1:1])
print ( carrera[:10:])
print ( carrera[14:25:])
print ( carrera[-11: :1])

#Solucion previa
print ( "-------")
print ( carrera[-11:-1:1])
print ( carrera[-11: :1])
#un ejercicio mas para ver incremento
print ( carrera[2:10:2])
print ( carrera[-1:12:-1])
print ( carrera[25:13:-1])

Ingenieria
computacion
computacio
Ingenieria
computacion
computacion
-------
computacio
computacion
gnei
noicatupmoc
noicatupmoc

#Strings y sus metodos
# Todos los tipos de datos en phyton son objetos(CLASES DE LA PROGRAMACION ORIENTADA A OBJETOS  POO )
## dir() y help() funciones para obtener ayuda del lenguaje phyton 

### dir muestra las funciones de un tipo de dato como resumen 
#### help muestra la ayuda pero con detalle

Metodos que inician con doble guion bajo son privados de uso interno de la clase y no deberiamos usarlos

In [ ]:
frutas ="limon , fresa , manzana , aguacate"
nombre = "pablo"
print(frutas)
dir (frutas)

print (nombre.capitalize())
print (nombre.upper())
print (frutas.replace('a','4').upper().replace('e','3'))
frutas = frutas.replace('a','4').upper().replace('e','3')
print(frutas)

print("-,-,-,-,-,-,-,-,,-,-,-,-,-,-,-,-,-,-,-,-,-,")
frutas ="limon , fresa , manzana , aguacate"
print(frutas.strip())
print(frutas.split(','))
print(frutas.index('n'))

limon , fresa , manzana , aguacate
Pablo
PABLO
LIMON , FRES4 , M4NZ4N4 , 4GU4C4TE
LIMON , FRES4 , M4NZ4N4 , 4GU4C4TE
-,-,-,-,-,-,-,-,,-,-,-,-,-,-,-,-,-,-,-,-,-,
limon , fresa , manzana , aguacate
['limon ', ' fresa ', ' manzana ', ' aguacate']
4

#String y caracteres de escape 

#-\"--->"
#-\ '--->'
#-\n---->Salto de linea (Tecla enter )
#-\t--->Tabulador espacios a la izquierda 
#-\uxxxx-----> Caracteres unicode 
#-\Uxxxxxx--->unicode extendido

In [ ]:
print("\"jose\"")
nombre = "\"jose\""
print (nombre)
carrera= "Ingenieria \n\ten \n\t\t computacion"
print (carrera)
print ("\u0065")
print ("\u0444")
print ("\u0620")

print ("\U00000065")
print("\U0001F602")
print("\U000010057")
print("\000U1F9A0")

"jose"
"jose"
Ingenieria
	en
		 computacion
e
ф
ؠ
e
😂
စ7
 U1F9A0

#FUNCION PRINT

### Se emplea para desplegar informacion en la salida estandar, normalmente un monitor 

####-Formas de usar print
####-El argumento por defecto de print (end) 
####-format()
####-Operador f""

In [ ]:
nombre = "Jose"
edad  = 18
Casado = False 
estatura = 1.67

"""
nombre = "Jose"
    edad  = 18
    Casado = False 
    estatura = 1.67
"""
#.-Con comas.- concatena haciendo un casting (conversion a string automatico)
#Agrega un  espacio
print(nombre,edad,Casado,estatura)
print("nombre:"+nombre+"\n\tedad:"+str(edad)+"n\testa casado:"+str(Casado)+"\n\testatura en metros:"+str(estatura))


#2.- Con el simbolo de "+"
# Concatenacion en crudo 
print(nombre+""+str(edad)+""+str(Casado)+""+str(estatura) )

#3.- Dando formato a la salida con format()
print("\nCon la función format()")
print("Nombre: {}\n\tEdad: {}\n\tEsta Casado: {}\n\testatura en metros: {}".format(nombre,edad,Casado,estatura))


#4.- Con el operador f ""
print("Con el operador f\" \"")
print(f"nombre: { nombre }\n\tedad: { edad }\n\testa casado: { Casado }\n\t estatura en metros { estatura }\n\t") 

#5.- Como manejar el argumento end
print("\n Como usar el argumento end")
print(f"hola{nombre}" ,end="")
print(", como estas?" , end="\n")

Jose 18 False 1.67
nombre:Jose
	edad:18n	esta casado:False
	estatura en metros:1.67
Jose18False1.67

Con la función format()
Nombre: Jose
	Edad: 18
	Esta Casado: False
	estatura en metros: 1.67
Con el operador f" "
nombre: Jose
	edad: 18
	esta casado: False
	 estatura en metros 1.67


 Como usar el argumento end
holaJose, como estas?

###TAREA 

###Con una sola función print POR LETRA van a escribir su primer nombre, como se muestra en la imagen adjunta o todo el nombre completo en una sola funcion de print.

In [ ]:
print ("""
pppppp       A      BBBBB  LL         OOOOO
p     p    A   A    B    B LL        O     O
pppppp    AAAAAAA   B BBB  LL        O     O
p        A       A  B    B LL        O     O
p       A         A BBBBB  LLLLLLLL   OOOOO
""")

pppppp       A      BBBBB  LL         OOOOO
p     p    A   A    B    B LL        O     O
pppppp    AAAAAAA   B BBB  LL        O     O
p        A       A  B    B LL        O     O
p       A         A BBBBB  LLLLLLLL   OOOOO

# Datos de entrada 

## para solicitar los datos de de un usuario se emplea la funcion imput. La cual regresa siempre tipo de dato string

In [1]:
nombre = input("Ingresa tu nombre ")
print ("Tecleaste nombre:" , nombre)

Ingresa tu nombre pablo
Tecleaste nombre: pablo

# 04/11/2021
# Como capturar datos numericos  
## Para ello se hace una conversion entre tipos...
casting ... consiste en llamar al constructor de la clase deseada 

## ejemplo convertir string "2" en numero 
### num = int ("2")

In [10]:
entrada = input("Dame tu edad  ")
edad = int(entrada)
edad+=1  # edad = edad+1
print("Tu edad es:", edad)

Dame tu edad  7
Tu edad es: 8

In [5]:
# Lo mismo pero con menos codigo

edad = int (input ("Dame tu edad"))
print ("Tu edad es:" ,edad+1)

Dame tu edad7
Tu edad es: 8

In [6]:
estatura = float (input("Dame tu estatura:"))
print("Tu estatura es:", estatura+0.1)

Dame tu estatura:1.67
Tu estatura es: 1.77

In [9]:
#inputs de bolean 

casado = bool(int(input("soltero(0)casado(1)")))
print("casado=", casado)

soltero(0)casado(1)0
casado= False