<a href="https://colab.research.google.com/github/Alberto3125/CompyProg2022/blob/main/Fundamentos_2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

04/11/2021
#Tipos de datos estructurados de pyton 
1. Listas
2. Tuplas
3. Diccionarios 
4. Conjuntos (opcional)

#Listas
-Tipo de dato que agrupa variables o valores.
-Estructura secuencial (undexados empezando por 0)

-Se declara de dos fromas#
- Usando []
-Usando list()
-usando un generador [var for x in range(10)]
- Puede contener tipos de dato diversos (En otros lenguajes de prog.eso no es posible de forma directa)
-Los elementos internos se seleccionan con []
- Soporta slicing
-GENERADORES
- Son MUTABLES
- Al ser una clase cobtiene muchos metodos utilies

In [ ]:
numeros = [10, 5, 2, 3, 1]
print(numeros)

numeros2= list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)

numeros[2] = 20
print(numeros)
numeros[-1] = 33
print(numeros)
numeros.append(1)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33]
[10, 5, 20, 3, 33, 1]

In [ ]:
# Tipos diversos 

cosas= [12, 2, True, "Jose", 1.57 , ["pera", "kiwi", "uva"]]
print (cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3:])
cosas[3]= cosas [j].upper()

[12, 2, True, 'Jose', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
print (numeros)
#Slicing
#1.-4 al 8?
print(numeros[3:8] )
#2.- [9, 10]
print(numeros[8:10])
print(numeros[-3:-1])
#3.- Imprimir la lista en orden inverso 
print (numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Crear una lista con u generador 
numeros = [x*3 for x in range (101)]
print (numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

#Funcion range()
tiene los mismos componentes que slicing
int, stop, incremento
range(1, 101, 1)

In [ ]:
numeros = [x for x in range (50, 101, 5)]
print (numeros)

[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# los metodos disponibles de las listas

In [ ]:
dir (list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros = [4, 1, 15, 8, 22, 34, 50]
print(numeros)
numeros.append(99)
print(numeros)
#numeros.clear()
#print(numeros)
# Una alternativa  numeros = []

frutas = ["uvas", "kiwi", "manzana"]
copia= frutas 
print(frutas)
print(copia)
frutas.append("naranja")
print(frutas)
print(copia)

colores = ["rojo", "azul", "Blanco"]
copia2 = colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

print ("numero de veces que aparece el 15", numeros.count(15))

#extend

nombres = ["jose", "pedro", "karina"]
otrosnombres = ["josue", "diana", "dalia"]
print(nombres)
print(otrosnombres)

nombres = nombres + otrosnombres
print(nombres)
print(otrosnombres)

#lo mismo con el metod extend

otrosnombres.extend(["jesus", "maria", "jose"])
print(otrosnombres)

print("jesus esta en la posicion:", otrosnombres.index("jesus"))
otrosnombres.insert(4, "Espiritu santo")
print (otrosnombres)

#pop
resultados = otrosnombres.pop()
print(otrosnombres)
print(resultados)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'naranja']
['uvas', 'kiwi', 'manzana', 'naranja']
['rojo', 'azul', 'Blanco']
['rojo', 'azul', 'Blanco']
['rojo', 'azul', 'Blanco', 'verde']
['rojo', 'azul', 'Blanco']
numero de veces que aparece el 15 1
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
['jose', 'pedro', 'karina', 'josue', 'diana', 'dalia']
['josue', 'diana', 'dalia']
['josue', 'diana', 'dalia', 'jesus', 'maria', 'jose']
jesus esta en la posicion: 3
['josue', 'diana', 'dalia', 'jesus', 'Espiritu santo', 'maria', 'jose']
['josue', 'diana', 'dalia', 'jesus', 'Espiritu santo', 'maria']
jose

#TUPLAS
###Caracteristicas de las tuplas 

- Datos agrupados 
- Se declara usando #
-()
-tuple ()
- Estructura secuencial, indexada a apartir de 0
- Pueden tecer de 0 a n elementos (No se puede eliminar y/o cambiar )
- NO SON MUTABLES 
-Son buenas para almacenar informacion de consulta 
- Pueden almacenar info. de diferentes tipos de datos.
- Pueden estar anidadas
- Tienen metodos utiles

In [ ]:
info = ("Huan23", "Dios1234", "123.232.1.12")
print (info)
print (info[1])
#info [1] = "patito23"

numeros = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
print (numeros)
print (numeros[5:11])

cosas = (info, numeros)
print (cosas)
print(cosas[1][5:11:1])
print(cosas[0][2][4:7])
print(cosas[0][2][-8:-5])

('Huan23', 'Dios1234', '123.232.1.12')
Dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('Huan23', 'Dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232
232

#metodos de las tuplas
Son los mismos de las listas pero los que no involucren mutabilidad

# Diccionarios 
### Caracteristicas de los diccionarios 

- Agrupan datos pero de forma no lineal.
- Se declaras : 
  - {}
  - dict()
- Formado por pares del tipo llave:valor, donde : 
  - Lave es de tipo string (siempre)
  - Valor puede ser de cualquier tipo de datos, incluyendo los diccionarios.
- Son anidables 
- Se seleccionan con la llave de la forma : ["id_llave"]
- Son mutables 
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript (JS)

In [ ]:
alumno = {"nombre" : "Jose"}
print (alumno)
print (alumno["nombre"])

alumno = {"nombre" : "Jose", "nc" : "2129229292" , "edad":18}
print ("Edad del alumno = " , alumno["edad"])
print(alumno["nombre"].upper())

alumno2= dict() #{}
alumno2["nombre"] = "jose"
print(alumno2)
alumno2["nc"] = "2129229292"
alumno2["edad"] = "18"
print(alumno2)
alumno2["edad"] = alumno2["edad"] + 1
print(alumno2)

{'nombre': 'Jose'}
Jose
Edad del alumno =  18
JOSE
{'nombre': 'jose'}
{'nombre': 'jose', 'nc': '2129229292', 'edad': '18'}

TypeError: ignored

In [ ]:
cliente = {"id" : "CT2121" , 
           "nombre" : "Jose Pedrosa Rosales" , 
           "telefonos " : "casa=554456565 cel=0445567767"}

print (cliente)
cliente = {"id" : "CT2121" , 
           "nombre" : {
               "nombres" : ["Jose", "Eduardo"],
               "paterno" : "Pedrosa",
               "materno" : "Rosales"
           },
           "telefonos" :{
               "casa" : "55-6632-4234",
               "trabajo" : "55-443-3232",
               "celular" : "044-55-234234"
            },
            "productos":{
                "ahorro":{"numero_cuenta":"7788", "ahorro":2500.5},
                "tarjetas":[
                            {"tipo":"debito","saldo":10000.5},
                            {"tipo":"credito preferente", "limite": 250000.5},
                            {"tipo":"lite", "limite": 15000.5}
                             
                ]
            },
            "direccion":{
                "calle":"Av. central",
                "numero": 1245,
                "colonia" :"Impulsora",
                "delegacion" : "neza",
                "estado" :{
                    "clave":15,
                    "nombre_corto": "EdoMex",
                    "nombre" : "Estado de Mexico"
                } 
            }


}
print( cliente["telefonos"]["casa"] )    
print( cliente)   
print(cliente ["productos"]["ahorro"]["ahorro"])
print(cliente["productos"]["tarjetas"][2]["limite"])
print(cliente["direccion"]["estado"]["nombre"].upper())
cliente["productos"]["ahorro"]["ahorro"] -= 1500
print(cliente["productos"])

{'id': 'CT2121', 'nombre': 'Jose Pedrosa Rosales', 'telefonos ': 'casa=554456565 cel=0445567767'}
55-6632-4234
{'id': 'CT2121', 'nombre': {'nombres': ['Jose', 'Eduardo'], 'paterno': 'Pedrosa', 'materno': 'Rosales'}, 'telefonos': {'casa': '55-6632-4234', 'trabajo': '55-443-3232', 'celular': '044-55-234234'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'Av. central', 'numero': 1245, 'colonia': 'Impulsora', 'delegacion': 'neza', 'estado': {'clave': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de Mexico'}}}
2500.5
15000.5
ESTADO DE MEXICO
{'ahorro': {'numero_cuenta': '7788', 'ahorro': 1000.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}

# Estructura de control de programacion 11/11/2021

Se puede crear cualquier tipo de algoritmo empleando solamente tres estructuras de control :

1. Secuencia : 
  - La representacion de la memoria de programa (arquitectura Vonn Newman)
2. Seleccion : 
  - Es la estructura ee control que decide si un bloque de programa se ejecuta o no se ejecuta. Tambien permite seleccionar, ejecutar un bloque entre un conjunto de opciones 
   En resumen tenemos : seleccion simple, seleccion con bifurcacion y seleccion multiple
3. Repeticion :
  - Este tipo de estructuras nos permite automatizar la ejecucion repetitiva de codigo mientras ciertas condiciones se cumplan, tenemos tres variantes de esta estrucura en todods los lenguajes de programacion.
  - Desde...hasta (estrucura for)
  - Haz mientras (estructura while)
  - Haz y luego validaz mientras ( estructura Do-While)

# Seleccion simple 
  - documentar, o poner notas 

La estructura if
  
```

  if <Condicion> :
      <Cuerpo del if>

```

**NOTA** Para establecer el cuerpo de una estructura de control en Python se usan los tabuladores a la izquiera

En otros lenguajes de programacion como java, c y c++... se usan las llaves{}

```
int edad = 0;
printf("Dame tuedad:"); 
Scanf("%i", &edad);
if(edad >=18) {
  print("Eres mayor de edad");
}
printf("Fin de programa");

```

In [ ]:
edad = int(input("Dame tu edad:"))
print(f"Tecleaste {edad} a침os")
if edad >= 18 :
  print("ERES MAYOR DE EDAD")
  print("Algo")
print("Otra cosa")
print("Fin de programa ")

Dame tu edad:15
Tecleaste 15 a침os
Otra cosa
Fin de programa

In [ ]:
CAL = float(input("Dame tu calificaci칩n"))
if CAL > 8:
  print("aprobado")
print("Fin del programa")

Dame tu calificaci칩n7.9
Fin del programa

In [ ]:
SUE = float(input("Escribe el sueldo: "))
AUM = 0 
MSUE = 0

if SUE < 1000 :
    AUM = SUE* 0.15
    MSUE = SUE + AUM
    print(MSUE)

Escribe el sueldo: 875.50
1006.825

18/11/21
# Estructura de seleccion con bifurcacion (lif-else) : 

Esta estructura, selecciona una de dos opciones de ejecucion, se ejecuta un bloque si la condicion se cumple o se ejecuta otro bloque si la condicion no se cumple (else)

```
if<condicion> : 
  <bloque de ejecucion>
else : 
  <Bloque de ejecion alterna>

```

In [4]:
edad = int(input("Dame tu edad:"))
print(f"Tecleaste {edad} a침os")
if edad >= 18:
    print("Eres mayor de edad, ten tu cheve ")
else:
    print("Eres menor de edad, ten tu Boing")
print("fin del programa")

Dame tu edad:15
Tecleaste 15 a침os
Eres menor de edad, ten tu Boing
fin del programa

In [7]:
edad=int(input("Dame tu edad: "))
dinero=float(input("Dame tu cantidad de dinero: "))
print(f"Tecleaste {edad} a침os")
print(f"Tecleaste {dinero} pesos")
if edad>=18 and dinero>=36:
    print("Eres mayor de edad, ten tu cheve")
else:
    print("Eres menor de edad, ten boing")
print("--FIN DEL PROGRAMA--")

Dame tu edad: 19
Dame tu cantidad de dinero: 89
Tecleaste 19 a침os
Tecleaste 89.0 pesos
Eres mayor de edad, ten tu cheve
--FIN DEL PROGRAMA--

In [10]:
edad = int(input("Dame tu edad: "))
dinero = float(input("Cuanto dinero tienes: "))
print(f"Tecleaste {edad} a침os")
print(f"Tecleaste {dinero} dinero")
if edad >= 18 :
    if dinero >=36 :
        print("Ten tu cheve")
    else:
        print("tienes la edad pero no tienes dinero suficiente")
if dinero >= 36 :
    print("Tienes dinero suficiente pero no tienes la edad")
else:
    print("No tienes la edad ni el dinero, ve a jugar roblox a tu casa")

Dame tu edad: 17
Cuanto dinero tienes: 5
Tecleaste 17 a침os
Tecleaste 5.0 dinero
No tienes la edad ni el dinero, ve a jugar roblox a tu casa

El codigo anterior se puede simplicar usando una palabra reservada especial que existe en algunos lenguajes de programacion游
 
 #elif

In [12]:
edad = int(input("Dame tu edad: "))
dinero = float(input("Cuanto dinero tienes: "))
print(f"Tecleaste {edad} a침os")
print(f"Tecleaste {dinero} dinero")
if edad >= 18 :
    if dinero >=36 :
        print("Ten tu cheve")
    else:
        print("tienes la edad pero no tienes dinero suficiente")
elif dinero >= 36 :
    print("Tienes dinero suficiente pero no tienes la edad")
else:
    print("No tienes la edad ni el dinero, ve a jugar roblox a tu casa")

Dame tu edad: 14
Cuanto dinero tienes: 12
Tecleaste 14 a침os
Tecleaste 12.0 dinero
No tienes la edad ni el dinero, ve a jugar roblox a tu casa

In [14]:
CAL= float(input("Escribe tu calificiaci칩n: "))
if CAL >= 8 :
    print("Aprobado")
else: 
    print("Reprobado")

Escribe tu calificiaci칩n: 10
Aprobado

In [16]:
# ejemplo2.4
SUE = float(input("Escribe el sueldo: "))
AUM = 0 
NSUE = 0

if SUE < 1000 :
    AUM = SUE* 0.15
    NSUE = SUE + AUM
    print(NSUE)
else:
    AUM= SUE*0.12
    NSUE = SUE + AUM
    print(NSUE)

Escribe el sueldo: 6000
6720.0

In [17]:
# problema 2.4
SUE=float(input("Dame tu sueldo: "))
if SUE<1000:
    NSUE=SUE*1.15
else:
    NSUE=SUE*1.12
print(f"Tu nuevo sueldo es: {NSUE}")

Dame tu sueldo: 1000
Tu nuevo sueldo es: 1120.0

# Ejercicio if-else

### Hacer un programa que solicite el dia de la semana en un valor numerico entero del 1 al 7 (Avisar al usuario si proporciono un valor fuera del rango). 

### Posteriormente imprimira el dia de la semana correspondiente al numero capturado

In [19]:

dia=int(input("Dame el d칤a de la semana del 1-7: "))
if dia is 1:
    print("LUNES")
elif dia is 2:
    print("MARTES")
elif dia is 3:
    print("MIERCOLES")
elif dia is 4:
    print("JUEVES")
elif dia is 5:
    print("VIERNES")
elif dia is 6:
    print("S츼BADO")
elif dia is 7:
    print("DOMINGO")
else:
    print("Debe ser un numero del 1 al 7, ingresa nuevamente")

Dame el d칤a de la semana del 1-7: 2
MARTES

In [21]:
dia = int( input("Ingresa un numero entre 1 y 7:"))
print(f"Capturaste el numero { dia }")
 
if dia >=1 and dia <= 7:
    if dia == 1:
        print("Lunes")
    else:
        if dia == 2:
            print("Martes")
        else:
            if dia == 3:
                print("Mi칠rcoles")
            else:
                if dia == 4:
                    print("Jueves")
                else:
                    if dia == 5:
                        print("Viernes")
                    else:
                        if dia == 6:
                            print("S치bado")
                        else:
                            print("Domingo")
 
else:
    print("Ese numero no esta dentro del rango solicitado")

Ingresa un numero entre 1 y 7:6
Capturaste el numero 6
S치bado

In [ ]:
# hacer un programa que pida dos numeros enteros y que imprima en pantalla lo siguiente:
 
1. cual de ellos es el numero mayor
2. cual de ellos es el numero menor
 o en su defecto
Imprimir que los valores son iguales
 
""" Hacer un programa que solicite  3 numeros enteros diferentes 
entre s칤  y que imprima cual de los 3 es el mayor
"""
 
""" 
Hacer un programa que solicite  3 numeros enteros diferentes 
entre s칤  y que imprima cual de los 3 es el menor
"""
 
"""
Hacer un programa que solicite 4 numeros enteros diferentes entre si
e imprima a la salida cual de ellos es el menor y cual de ellos es el mayor
"""

# Seleccion multiple (switch)
en python no existe la estructira de seleccion switch , en su lugar se emplea la plabra reservada:

## elif <condicion>:  
Por ejemplo en el lenguaje C y Java seria de la forma:

In [24]:
# ejemplo 2.7
 
NUM = int(input("dame un numero entre 1 y 3:"))
V = float(input("Dame un valor float:"))
VAL = 0
if NUM == 1:
    VAL = 100 * V
elif NUM == 2:
    VAL = 100 ** V
elif NUM == 3 :
    VAL =100/V
else:
    VAL = 0
 
print(VAL)

dame un numero entre 1 y 3:3
Dame un valor float:1
100.0